.cart-item {
    @extend %cart-grid;
    border-radius: 20px;
    background-color: $color-elements;
    padding: 10px 20px;
    height: 120px;
}

.cart-item__counter {
    justify-self: center;
}

.cart-item__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 110px;
}

.cart-item__img-container img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    display: block;
    object-fit: contain;
}

.cart-description {
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-height: 100%;
    overflow: hidden;

    p {
        margin: 0px;
        font-size: $cart-item-description;
    }

    .cart-item-description {
        font-size: 70%;
        color: $cart-description-color;
    }
}

.cart-description__title {
    font-size: medium;
    margin: 0px;
}

.cart-description__name {
    font-weight: 600;
}

.cart-description__value {
    font-weight: normal;
}

.cart-price__prev {
    font-size: 80%;
    text-decoration: line-through;
    margin: 0;
}

.cart-price__real {
    color: $current-price-color;
    margin: 0;
}

.cart-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quantity-buttons-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.item-quantity {
    margin: 0;
}

.item-increase-button,
.item-reduce-button,
.item-delete-button {
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: contain;
    cursor: pointer;
}

.item-increase-button {
    background-image: url('assets/icons/increase.svg');
}

.item-reduce-button {
    background-image: url('assets/icons/reduce.svg');
}

.item-delete-button {
    background-image: url('assets/icons/cross.svg');
}

.item-stock {
    margin: 0px;
    font-size: smaller;
}
