.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin: 0px;
    a:active,
    a:hover,
    a {
        color: #000;
    }

    :not(:first-child)::before {
        content: '/';
        margin-right: 10px;
    }

    :not(:last-child):hover {
      
      :hover {
          cursor: pointer;
          opacity: 0.7;
      }
  }
}

@media (max-width: 992px) {

    .breadcrumbs {
        padding: 0px;
    }

}

@media (max-width: 576px) {

    .breadcrumbs {
        padding: 0px;
        font-size: smaller;
    }
    
}
