.breadcrumbs {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0px;
    a:active,
    a:hover,
    a {
        color: #000;
    }
    
    :not(:first-child)::before{
      content: '/';
      margin-right: 10px;
    }
}