.top-panel {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-family: $font-primary;
    font-size: larger;

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        row-gap: 10px;
        font-size: medium;
    }

    @media screen and (max-width: 576px) {
        font-size: small;
        padding: 0;
    }
}

.search-results-title {
    font-weight: 600;
}

.search,
.sort-method {
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 2px solid $color-text-main;
    padding: 0 10px;

    @media screen and (max-width: 1220px) {
        font-size: small;
        width: 150px;
        height: 30px;
        border-radius: 5px;
    }

    @media screen and (max-width: 576px) {
        width: 100px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.sort-method {
    height: 44px;

    @media screen and (max-width: 1220px) {
        height: 30px;
    }
}

.view-block {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 1220px) {
        gap: 10px;
    }

    @media screen and (max-width: 768px) {
        flex-basis: 60%;
    }
}

.view-block-icon {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    z-index: 0;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    @media screen and (max-width: 1220px) {
        width: 35px;
        height: 35px;
        border-radius: 5px;
    }

    @media screen and (max-width: 576px) {
        width: 25px;
        height: 25px;
    }
}

.view-block-icon-active {
    border: 2px solid $color-text-main;
    pointer-events: none;
    opacity: 0.6;
}

.view-block-row {
    background-image: url('assets/icons/list.svg');
}

.view-block-table {
    background-image: url('assets/icons/table.svg');
}

.filter-icon {
    display: none;

    @media screen and (max-width: 900px) {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        background-image: url('./../../../../assets/icons/filter.svg');
    }

    @media screen and (max-width: 768px) {
        flex-basis: 40%;
    }

    @media screen and (max-width: 576px) {
        width: 25px;
        height: 25px;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}