// To scss vars file
$color-bg-main: #D8D7DB;
$color-elements: white;
$color-text-main: #414751;
$color-text-secondary: #5E5C5B;

$font-header: 'Righteous', cursive;
$font-primary: 'sora', sans-serif;